body {
  height: 99vh;
  width: 100vw;
  margin: 0;
}
main {
  height: 90vh;
  align-content: center;
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
section {
  justify-content: center;
  display: flex;
  width: 250px;
}
.container {
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 5px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
  width: 79px;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  background: rgb(255, 255, 255)
}
.segment{
  position:absolute;
  color: white;
  background:rgb(56, 1, 255);
  height: 15px;
  width: 55px;
  border-radius: 20px 20px 20px 20px;
}
.stickA, .stickB {
  height: 55px;
  width: 15px;
  border-radius: 8px 20px 20px 8px;
  left:1px;
}
.stickF, .stickD {
  height: 55px;
  width: 15px;
  border-radius: 20px 8px 8px 20px;
  right: 1px;
}
.stickC {
  height: 15px;
  width: 55px;
  border-radius: 20px 20px 8px 8px;
  bottom: 1px;
}
.stickD {
  bottom: 10px;
}
.stickE {
  height: 15px;
  width: 55px;
  border-radius: 8px 8px 20px 20px;
  top: 1px;
}
.stickF {
  top: 10px;
}

.stickD {
  bottom: 10px;
}
.stickA {
  top: 10px;
}
.stickB {
  bottom: 10px;
}



div {
  height: 420px;
  align-items: center;
}
section {
  height: 140px;
}
